mixin paginate(page,totalPages, paginationRoot)
  if totalPages
    nav.pagination
      ul
        each _, i in Array(totalPages)
          li: a(href=`${paginationRoot}page=${i+1}&limit=${limit}`)= i+1
    p= `${page} of ${totalPages}`

