table
  thead
    tr
      th Book
      th Patron
      th Loaned On
      th Return By
      th.action(colspan='2' scope='colgroup') Action

  tbody
    each loan in loans
      tr
        td: a(href=`/books/${loan.Book.id}/update`)=loan.Book.title
        td: a(href=`/patrons/${loan.Patron.id}/update`)=loan.Patron.name
        td=`${loan.loaned_on.toLocaleDateString('en-CA')}`
        td=`${loan.return_by.toLocaleDateString('en-CA')}`
        td.action: a.button(href=`/loans/${loan.id}/update`) Update

        if !loan.returned_on
          td.action: a.button(href=`/loans/${loan.id}/return`) Return
                     
