extends ../layout

block content
  h1= title
  p: a(class='button' href='/books/new') Create New Book 

  form.search(action='/books/search' method='get')
    p
      input#book-q(name='q' type='text')
      input(type="submit" value="Search")
  
  if totalPages
    nav.pagination
      ul
        each _, i in Array(totalPages)
          li: a(href=`${paginationRoot}page=${i+1}&limit=${limit}`)= i+1
    p= `${page} of ${totalPages}`

  include ./includes/table
