extends ../layout

block title
  title='Books'

block header
  h1='Books'
block content
  p: a(class='button' href='/books/new') Create New Book 
  br
  form.search(action='/books/search' method='get')
    p
      input#book-q(name='q' type='text')
      input(type="submit" value="Search")
      input(type='hidden', name='page', value='1')
      input(type='hidden', name='limit', value='10')
  
  if totalPages
    nav.pagination
      ul
        each _, i in Array(totalPages)
          li: a(href=`${paginationRoot}page=${i+1}&limit=${limit}`)= i+1
    p= `${page} of ${totalPages}`

  include ./includes/table
